[user]
	name = tura
	email = soldier4443@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = Code
[credential]
	helper = manager
[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	ready = !"git add --all && git status"
	ra = remote add origin
	s = !"sh -c \"git status '$1' && git lg1 -n 3\""
	c = !"sh -c \"git commit -m '$1' && git lg1 -n 3\""
	p = push origin master
	cp = !"sh -c \"git commit -m '$1' && git push origin master && git lg1 -n 3\""
	acp = !"sh -c \"git ready && git cp '$1'\""
	unstage = reset HEAD $*
	undo = !"sh -c \"git reset HEAD~$1 && git status\""